<section id="why">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Thanks for visiting!</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row2">
            <div>
                <div class="service-box">
                    <img class="lienshka" src="../img/lienshka.png" alt="lienshka" />
                    <h3>About Me</h3>
                    <p class="text-muted">Elle Karras is a musician, artist, traveller, and performer. While mostly based in Edmonton Canada, Elle works internationally bringing theatre to life for audiences around the world.</p>
                    <h3>Get in touch with me at</h3>
                    <p class="text-muted">lienshka@gmail.com
                    or on instagram <a href="https://www.instagram.com/lienshka">@Lienshka</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
