<header>
    <div class="head-bg-container">
        <img class ="jelly-bg" src="{{site.baseurl}}../img/jell-bg.png" alt="Lienshka Jellyfish" />    
        <div class="col-sm-7">
            <div class="header-content">
                <div class="header-content-inner">
                    <h1>Hi! My name is Elle and this is my little corner of the internet where I share my original artwork and other stuff I'm interested in. I hope you like it!</h1>
                    <a href="#portfolio" class="btn btn-outline btn-xl page-scroll">Check out my work!</a>
                </div>
            </div>
        </div>
        <div class="col-sm-5">

        </div>
    </div>
</header>
